<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionTracking</display-name>
  <welcome-file-list>
    <welcome-file>CreateCookieHome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>com.netcracker.controller.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/CreateCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveCookie</display-name>
    <servlet-name>RetriveCookie</servlet-name>
    <servlet-class>com.netcracker.controller.RetriveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveCookie</servlet-name>
    <url-pattern>/RetriveCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionInfo</display-name>
    <servlet-name>SessionInfo</servlet-name>
    <servlet-class>com.netcracker.controller.SessionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionInfo</servlet-name>
    <url-pattern>/SessionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopSession</display-name>
    <servlet-name>StopSession</servlet-name>
    <servlet-class>com.netcracker.controller.StopSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopSession</servlet-name>
    <url-pattern>/StopSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileController</display-name>
    <servlet-name>MobileController</servlet-name>
    <servlet-class>com.netcracker.controller.MobileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileController</servlet-name>
    <url-pattern>/MobileController</url-pattern>
  </servlet-mapping>
</web-app>