<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp1</display-name>
  <servlet>
    <description></description>
    <display-name>Greeting</display-name>
    <servlet-name>Greeting</servlet-name>
    <servlet-class>com.netcracker.controller.Greeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greeting</servlet-name>
    <url-pattern>/nc.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addition</display-name>
    <servlet-name>Addition</servlet-name>
    <servlet-class>com.netcracker.controller.Addition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/Addition.com</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>com.netcracker.controller.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display.com</url-pattern>
  </servlet-mapping>
</web-app>